{% extends "layout.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block section_1 %}
<section>
    <h3>&bull; {{ category.name }} &bull;</h3>
    <div class="item-group">
    {% if items.count() == 0 %}
        <div class="null-message">No items in this category.</div>
    {% else %}
        {% for i in items %}
        <div class="item">
            <a href="{{ url_for('ShowItem', i_id = i.id) }}"><img src="http://placehold.it/200x200&text=Example"></a>
            <div class="caption">
                <div class="title">{{ i.name }}</div>
                <div class="price">{{ i.price }}</div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
        <br>
        <div>
            <a href="{{ url_for('EditCategory', c_id = category.id ) }}"><button type="button">Edit Category</button></a>
            <a href="{{ url_for('DeleteCategory', c_id = category.id ) }}"><button class="red-button" type="button">Delete Category</button></a>
        </div>
        <div><a href="{{ url_for('ShowCategories') }}">Return to Categories</a></div>
    </div>
</section>
{% endblock %}

{% block section_2 %}
<section class="customer-service">
    <div>Need Help? Call Customer Service &bull; (617) 555-0103</div>
</section>
{% endblock %}

{% block section_3 %}
{% endblock %}