{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block section_1 %}
<section class="home">
    {% for i in featured_items %}
    <div class="spotlight">       
        <a href="{{ url_for('ShowItem', i_id = i.id) }}"><img src="http://placehold.it/200x200&text=Example"></a>
        {{ i.name }} - {{ i.price }}
    <div>
    {% endfor %}
</section>
{% endblock %}

{% block section_2 %}
<section class="customer-service">
    <div>Need Help? Call Customer Service &bull; (617) 555.0103</div>
</section>
{% endblock %}

{% block section_3 %}
<!--
<section>
    <div>[<a href="{{ url_for('ShowCategories') }}">View All Categories</a>]</div>
    <div>[<a href="{{ url_for('ShowAllItems') }}">View All Items</a>]</div>
</section>
-->
{% endblock %}
