{% extends "layout.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block section_1 %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <section class="message">
            {% for message in messages %}<div><i class="fa fa-bullhorn"></i> {{message}}</div>{% endfor %}
        </section>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block section_2 %}
<section class="item-details">
    {% if item.featured == 1 %}<h2> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <strong>Featured Listing</strong> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </h2>{% endif %}
    <h3>{{ item.name }}</h3>
    <div class="clearfix">
        <div class="item-img">
            <img src="http://placehold.it/200x200&text=Example">
        </div>
        <div class="item-info">
            <div class="price">{{ item.price }}</div>
            <div class="description">{{ item.description }}</div>
        </div>
    </div>

    <div><a href="{{ url_for('EditItem', i_id = item.id) }}"><button>Edit</button></a> <a href="{{ url_for('DeleteItem', i_id = item.id) }}"><button>Delete</button></a></div>
    
</section>
{% endblock %}

{% block section_3 %}
<section class="customer-service">
    <div>Need Help? Call Customer Service &bull; (617) 555.0103</div>
</section>
{% endblock %}