<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta author="Edward Bryant">
    <meta description="">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'lib/font-awesome/4.3.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cardo:400,700,400italic">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
    <title>{% block title %}{% endblock %} - Strange Emporium - odd antiques</title>
</head>
<body>
<header>
    <div class="content">
        <h1>Strange <i class="fa fa-cube"></i> Emporium</h1>
        <h2>The Marketplace of Odd Antiques</h2>
    </div>
</header>
<nav>
    <div id="nav" class="content">
        <div><span><a href="/">Home</a></span> &bull; <span><a href="{{ url_for('ShowFeaturedItems') }}">Featured</a></span> &bull; <span><a href="{{ url_for('ShowNewestItems') }}">New</a></span> &bull; <span><a href="{{ url_for('ShowCategories') }}">Browse</a></span> &bull; <span><a href="{{ url_for('ShowLocation') }}">Visit</a></span> &bull; <span id ="login-link"><a href="#">Login</a></span></div>
    </div>
    <!--
    <div id="user-ctrls" class="content">
        <div><span id ="login-link"><a href="#">Logout</a></span></div></div>
    </div>
    -->
</nav> 
<main id="main" role="main">
    <div class="content">

        <!-- messaging-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <section class="message">
                {% for message in messages %}<div><i class="fa fa-bullhorn"></i> {{message}}</div>{% endfor %}
            </section>
            {% endif %}
        {% endwith %}

        {% block section_1 %}{% endblock %}

        {% block section_2 %}{% endblock %}

        {% block section_3 %}{% endblock %}

    </div>
</main>
<footer>
    <div class="content">
        <div class="foot-cols clearfix">
            <div>
                <h4>Navigation</h4>
                <div><a href="/">Home</a></div>
                <div><a href="{{ url_for('ShowFeaturedItems') }}">Featured Items</a></div>
                <div><a href="{{ url_for('ShowNewestItems') }}">New Items</a></div>
                <div><a href="{{ url_for('ShowCategories') }}">Browse Items</a></div>
            </div>
            <div>
                <h4>Follow Us</h4>
                <div><a href="#"><i class="fa fa-facebook"></i> Facebook</a></div>
                <div><a href="#"><i class="fa fa-twitter"></i> Twitter</a></div>
                <div><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></div>
            </div>
            <div>
                <h4>Store Location</h4>
                <div>Strange Emporium</div>
                <div>342 N. Hobbs Street</div>
                <div>Dunwich, Mass. 01929</div>
                <div>(617) 555-0103</div>
            </div>
        </div>
        <div><a href="#">Terms of use</a> &bull; <a href="#">Privacy policy</a></div>
        <div>copyright <i class="fa fa-copyright"></i> 2015, Edward Bryant</div>
    </div>
</footer>
</body>
<script src="{{ url_for('static', filename = 'lib/jquery/1.11.1/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'lib/bootstrap/3.3.1/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</html>