<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta author="Edward Bryant">
    <meta description="">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'lib/font-awesome/4.3.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
    <title>Strange Emporium | the marketplace of odd antiques</title>
</head>
<body>
<header>
    <div class="content">
        <h1><i class="fa fa-cube"></i></h1>
        <h1>Strange Emporium</h1>
        <h2>The Marketplace of Odd Antiques</h2>
    </div>
</header>    
<main id="main" role="main">
    <div class="content">
        <h2>Add New Category</h2>
        <br>
        <form action="{{ url_for('NewCategory') }}" method="post">
        <div>Category Name: <input type="text" name="category-name" required> <small>* required</small><div>
        <br>
        <div><input type="submit" value="Add"><div>
        <div><a href="{{ url_for('ShowCategories') }}">Cancel</a><div>
        </form>
        <br>
    </div>
</main>
<footer>
    <div class="content">
        <div>copyright <i class="fa fa-copyright"></i> 2015, Edward Bryant</div>
    </div>
</footer>
</body>
<script src="{{ url_for('static', filename = 'lib/jquery/1.11.1/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</html>